@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$navColor: #2db159;
$sm: "576px";
$md: "768px";
$lg: "992px";
$poppins: "Poppins", sans-serif;
$bottomColor: #285a44;
$topColor: #47a07b;
