@import "./_variable.scss";

body {
  background-color: #f3fbf7;
}

.sqa__navigation {
  background-color: #fff;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 5px;
  padding: 0;
  height: 80px;
}

.sqa__navigation-item {
  color: $navColor !important;
}

.sqa__navigation-item-span {
  margin-left: 5px;
}

@media (max-width: $lg) {
  .sqa__navigation {
    height: 100%;
    padding: 0;
  }
  .sqa__navigation-logo {
    width: 100px !important;
  }
}
