@import "./_variable.scss";

body {
  background-color: #f3fbf7;
}

.sqa__navigation {
  background-color: #fff;
  box-shadow: 5px 5px 10px lightgray;
  border-radius: 5px;
  padding: 0;
  height: 80px;
}

.sqa__navigation-item {
  color: $navColor !important;
}
